#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=KBGOffice
Name[bg]=КБГОфис
GenericName=BG Office Assistant
GenericName[bg]=БГ Офис помощник
Comment=BG Office Assistant
Comment[bg]=БГ Офис помощник
TryExec=kbgoffice
Exec=kbgoffice %F
Icon=kbgoffice
Categories=Office;KDE;Qt;Utility;Dictionary;
Terminal=false
